---
name: Ansible Template CI Build

on:             # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev
  # At 04:56 on Monday
  schedule:
    - cron: '56 4 * * 1'

defaults:
  run:
    working-directory: 'rroethof.ansibletemplate'

jobs:

  # lint job
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      PY_COLORS: 'true'
      ANSIBLE_FORCE_COLOR: 'true'

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3
        with:
          path: 'rroethof.ansibletemplate'

      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - rockylinux8
          - debian12
          - ubuntu-latest
    env:
      PY_COLORS: 'true'
      ANSIBLE_FORCE_COLOR: 'true'

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3
        with:
          path: 'rroethof.ansibletemplate'

      - name: Set up Ansible & Molecule in a Python venv
        run: |
          "${GITHUB_WORKSPACE}/scripts/setup-local-ansible.sh"

      - name: Test with molecule
        run: |
          source "${GITHUB_WORKSPACE}/.venv/bin/activate"
          molecule test --scenario-name docker
